* {
    box-sizing: border-box;
  }
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
.header {
    border: 1px solid black;
    background-color: beige;
}
.main {
    display: block;
}
.main-container {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}
.footer {
    border: 1px solid black; 
    background-color:beige; 
    
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }
  .nav-link {
    padding: 0 20px;
    line-height: 50px;
    color: blueviolet;
    text-decoration: none;
  }
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }
  html {
    scroll-behavior: smooth; 
  }
  h1 {
      color: blue;
    }
        
  img {     
      width: 250px;
      height: 150px;
      padding-left: 50px;
  }
  .section {
    width: 50%;
  }
  .section-title {
      padding-left: 50px;
  }
  p { 
      color: black;
      padding-left: 50px;
  }